*{
    
    margin: 0px;
}

.parallax {
    /* The image used */
    background-image: url("../images/github_cat.jpg");

    /* Set a specific height */
    min-height: 700px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

div {
    float: left;
}

.full_container {
    width: 100%;   
}

.container {
    width: 50%;
}

.container-20 { width: 20%}
.container-80 { width: 80%}

.title {
    padding-top: 15%;
    width: 100%;
    text-align: center;
}

.title h1{
    width: 100%;
    font-size: 150px;
    text-align: center;    
    color: white;
    font-family: fantasy;
    background-color: rgba(0, 0, 0, 0.7)
}

.title h1:hover{
    background-color: rgba(0, 0, 0, 0.2)
    
}

.pleasures {
    background-image: url("../images/pleasures.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 4% 0%;
}

.pleasures a{
    width: 100%;
    font-size: 50px;
    font-family: fantasy;
    color:white;
    text-align: center;
    margin: 5% 0% 5%;
    text-decoration: none;
}

.pleasures a > h1{
    width: 100%;    
    text-align: center;
}


.pleasures h1:hover{
    color: rgba(255,255,255, 0.8);
}

.office{
    background-image: url(../images/office.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
    float: left;
}

.text_I h1{
    margin: 4% 0%;
    font-size:80px;
    text-align: center;
}



div[class*=office] {
    background-color: rgba(0, 0, 0, 1);
}

h1{
    font-family: monospace;
}

img{
    width: 100%
}


div:nth-child(2){
    background-color: darkgrey
}

div{
    width: 100%;
    height: 100%;
}

.b-yellow {
    background-color: yellow;
}

.b-orange {
    background-color: orange;
}

div > a {
    width: 100%;
    font-size: 50px;
    font-family: fantasy;
    color: black;
    text-align: center;
    margin: 5% 0% 5%;
    text-decoration: none;
}

div a:hover{
    color: rgba(0,0,0, 0.6);
}

.contentTopic p, h2{
    padding: 2%;
    font-family: Caladea;
}